*{
    padding: auto;
    margin: 0;
    background-color: aquamarine;
    color: black;
}
.titulo{
    background-color: brown;
    color: #ff0000;
    font-family: 'Times New Roman', Times, serif;
}